@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.cdnfonts.com/css/gistesy');

body {
    margin: 0 7%;
    font-size: 18px;
}

img {
    display: grid;
    margin: 0 auto;
}

#tagline-img {
    max-width: 75%;
    margin: 0 auto;
    grid-column: 1/12;
    grid-row: 1/8;
}

p {
    font-family: Lato, Helvetica, sans-serif;
    color: #090C08;
    padding: .6em;
    grid-column: 1/12;
}

a {
    text-decoration: none;
}
.paragraphs {
    padding-top: 4%;
    grid-column: 1/12;
    grid-row: 5/8;
}

/* header img {
    display: center;
    max-width: 65%;
    grid-column: 1/11;
    grid-row: 1;
} */

#title {
    text-align: center;
}

#tagline {
    background-color: #FFF8F0;
    padding: 2%;
    grid-column: 2/5;
    grid-row: 2/4;
}

nav {
    background-color: #FFF8F0;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    grid-column: 1/12;
    grid-row: 2/3;
  }

nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
}

nav a:link, nav a:visited {
    color: #f24f49;
}  

nav a:hover {
    color: #FFF8F0;
    background-color: #F64740;
  }


.events-icon {
    width: 30px;
}

.event1 {
    grid-row: 12/14;
    grid-column: 2/5;
    background-color: #78F54C;
    padding: 0 7%;
}
.event2 {
    grid-row: 12/14;
    grid-column: 5/8;
    background-color: #78F54C;
    padding: 0 7%;
}
.event3 {
    grid-row: 12/14;
    grid-column: 8/11;
    background-color: #78F54C;
    padding: 0 7%;
}

.text1 {
    grid-row: 15/17;
    grid-column: 2/5;
}
.text2 {
    grid-row: 15/17;
    grid-column: 5/8;
}
.text3 {
    grid-row: 15/17;
    grid-column: 8/11;
}

.chat {
    grid-row: 12/16;
    grid-column: 6/12;
}
.event {
    grid-row: 12/16;
    grid-column: 1/6;
}
#chat-header {
    padding-top: 25px;
    padding-left: 25px;
    text-align: left;
    grid-row: 14/15;
    grid-column: 1/4;
}

#event-header {
    padding-top: 25px;
    padding-left: 25px;
    text-align: left;
    grid-row: 11/12;
}

.chat-card {
    margin: 200px 0;
    grid-column: inherit;
    grid-row: 5/20;
}

footer {
    background-color: #FFF8F0;
    display: flex;
    grid-template-columns: 150px auto;
    justify-content: space-around;
}
.home-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(16, 1fr);
    grid-column-gap: 2%;
}
footer img {
    max-width: 100px;
    padding-left: 50px;
}

footer a:hover {
    color: black;
    text-decoration: none;
}

footer a {
    /* align-items: flex-end; */
    vertical-align: middle;
    display: table-cell;
    height: 100px;
}

footer p {
    font-size: 1.2em;
    align-items: flex-end;
}

/* Subpage - Resources */

.resources-page {
    display: grid;
    grid-template-columns: 150px 1fr;
}
.community-page {
    display: grid;
    grid-template-columns: 150px 1fr;
}
.resources-page p,
.community-page p {
    padding-bottom: 30px;    
}

.page-title {
    font-family: "Gistesy";
    font-size: 1.8em;
    text-align: center;
}

.resource-thumbnail {
    width: 100px;
}

.social-thumbnail {
    width: 75px;
}

h3 {
    font-family: Lato, Helvetica, sans-serif;
    font-weight: normal;
}


/* Slideshow container */

.slideshow-container {
    position: relative;
    background: #FFF8F0;
    display: block;
    grid-row: 8/10;
    grid-column: 1/12;
}

/* Slides */
.mySlides {
    display: none;
    padding: 50px;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #f24f49;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #f24f49;
    color: #FFF8F0;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
    display: block;
    grid-column: 1/12;
    height: 5%;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: #2A0C4E;}



@media screen and (max-width: 500px) {
    nav, footer {
        flex-direction: column;
        line-height: 2em;
    }
    nav a {
        display: block;
        padding: 0px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    .chat-card .event-card {
        margin: 50px auto;
        width: 60%;
    }
    footer {
        margin-top: 25px;
    }
}
